<template>
  <transition
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
    :duration="2000"
  >
    <div class="Table">
      <div v-if="!pageLoadingState">
        <div class="q-px-lg q-pt-lg gt-xs">
          <div class="flex justify-between q-mt-sm q-mb-lg">
            <h5
              class="text-26 text-semibold q-my-none onboarding-text-accent-0"
            >
              Employee List
            </h5>
            <div class="flex q-gutter-lg justify-end">
              <q-btn
                flat
                rounded
                no-caps
                dense
                class="onboarding-border-accent-0 onboarding-bg-accent-0 text-white q-px-xl q-ml-md"
                @click="$router.push({ name: 'add-or-numbers' })"
                label="Add Employee"
              />
              <Filters
                dynamicHeight="34"
                :labelVisible="false"
                :searchVisible="true"
                :filterDateVisible="false"
                pathEndPoint="Table"
              />
            </div>
          </div>
          <!-- Filter and Pagination -->
          <div class="flex justify-between q-mb-md gt-xs">
            <div>
              <Filters :selectVisible="true" pathEndPoint="Table" />
            </div>
            <div class="flex itempt-center">
              <div
                class="text-14 onboarding-text-accent-1 q-mr-md"
                :class="$q.screen.width < 767 && 'hidden'"
              ></div>
            </div>
          </div>
        </div>
        <!-- TABLES -->

        <!-- FOR MOBILE APPLICATION -->
        <div class="show-on-mobile q-pa-lg">
          <!-- <div v-if="orNUmberList.length">
            <div v-for="user in orNUmberList" :key="user.id">
              <UserCard @deleteUser="deleteUser(user)" :user="user" />
            </div>
          </div>
          <div v-else class=" full-width text-center">
            No Data Available.
          </div> -->
          <div class="fixed-bottom q-mb-lg q-mx-xl">
            <q-btn
              rounded
              dense
              flat
              no-caps
              label="Add List"
              to="add-or-numbers"
              class="onboarding-buttononboarding-border-accent-0 onboarding-bg-accent-0 q-px-xl q-mt-xl"
            />
          </div>
        </div>
      </div>
      <q-inner-loading
        class="absolute-center onboarding-bg-primary text-20 full-width full-height onboarding-text-accent-0"
        :showing="pageLoadingState"
      />
      <MobileFilter :searchVisible="true" />
      <MainDialog :content="$options.components.DeleteConfirmation" />
    </div>
  </transition>
</template>

<script src="./script/Table.js"></script>

<style lang="scss">
@import "./css/Table.scss";
</style>
